* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 57%;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 7.5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

.scroll {
  padding: 0 3rem;
  font-size: 1.6rem;
  font-family: poppins;
  letter-spacing: 2px;
}

.scroll-dark {
  color: black;
  border-color: black;
}

.scroll-light {
  color: white;
  border-color: white;
}

.scroll-buttom-right {
  position: absolute;
  height: 10rem;
  right: 6rem;
  bottom: 0;
  border-right: 2px solid;
}

.scroll-top-right {
  position: absolute;
  height: 10rem;
  right: 6rem;
  border-right: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.scroll-buttom-left {
  position: absolute;
  height: 10rem;
  left: 6rem;
  bottom: 0;
  border-left: 2px solid;
}

.scroll-top-left {
  position: absolute;
  height: 10rem;
  left: 6rem;
  border-left: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 950px) {
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width: 470px) {
  html {
    font-size: 50%;
  }
}
